@charset "UTF-8";

#cb,#text,#color,#file{ 
    display: none;
}
/*チェックしたら表示*/
input[type="checkbox"]:checked.cb ~ #cb,
input[type="checkbox"]:checked.text ~ #text,
input[type="checkbox"]:checked.color ~ #color,
input[type="checkbox"]:checked.file ~ #file{
    display: block;
}

input[type="checkbox"].cb,
input[type="checkbox"].text,
input[type="checkbox"].color,
input[type="checkbox"].file{
    position: relative;
}

input[type="checkbox"].cb:after,
input[type="checkbox"].text:after,
input[type="checkbox"].color:after,
input[type="checkbox"].file:after{
    position: absolute;
    width: 100px; height: 20px;
    padding-left: 20px;
    top: 50%;
    
}  

div#img{
    display:block;
    float:left;
    width: 200px;
}
#img img{
    width: 200px;
}
div#detail{
    display:block;
    clear:none;
    margin-left:210px;
}
div#checkbox{
    display:inline;
    float:right;
    
    width: 280px;
    border: solid 2px
}
